<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <link rel="stylesheet" type="text/css" src="css/styles.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    	
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
        
        <script type = "text/javascript">
		Ext.onReady(function(){ 
			var menu = Ext.create('Ext.menu.Menu', {
				layout: 'hbox',
				width: 300,
				//height: 100,
				margin: '0 0 10 0',
				renderTo: Ext.getBody(),
				floating: false,
				items: [{
					text: 'menu1',
				},{
					text: 'menu2'
				},{
					text: 'menu3'
				}]
			});
		</script>
    </head>
    <body>
    	<th:block th:include="/menu"></th:block>
    	
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>