<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>New Project</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {

            var userStore = Ext.create('Ext.data.Store', {
                fields: ['id', 'name']
            });

            var devStore = Ext.create('Ext.data.Store', {
                fields: ['id', 'name']
            });

            var approver = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Approver',
                store: userStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'id'
            });

            var devs = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Developer',
                store: devStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'id'
            });

            var name = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Name',
                width: 400,
                bodyPadding: 10
            });

            var desc = Ext.create('Ext.form.TextArea', {
                fieldLabel: 'Description',
                width: 400,
                bodyPadding: 10
            });

            var s1date = Ext.create('Ext.form.Date', {
                fieldLabel: 'S1 date',
                width: 400,
                value: new Date()
            });

            var s2date = Ext.create('Ext.form.Date', {
                fieldLabel: 'S2 date',
                width: 400,
                value: new Date()
            });

            var s3date = Ext.create('Ext.form.Date', {
                fieldLabel: 'S3 date',
                width: 400,
                value: new Date()
            });

            var createButton = Ext.create('Ext.Button', {
                text: "Create",
                style: {
                    border: 1
                },
                handler: function () {
                    Ext.Ajax.request({
                        url: "/api/project/create",
                        method: "POST",
                        jsonData: getProject(),
                        success: function (form, action) {
                            // ....
                        },
                        failure: function (form, action) {
                            alert(form.responseText);
                        }
                    })
                }
            });

            var getProject = function(){
                return {
                    name: name.value,
                    description: desc.value,
                    defaultApproverId: approver.value,
                    defaultDeveloperId: devs.value,
                    s1Time: s1date.value,
                    s2Time: s2date.value,
                    s3Time: s3date.value
                }
            };

            Ext.create('Ext.panel.Panel', {
                renderTo: Ext.getBody(),
                width: 1000,
                height:500,
                layout: {
                    type: 'vbox',
                    padding: 5
                },
                items: [
                    name,
                    desc,
                    approver,
                    devs,
                    s1date,
                    s2date,
                    s3date
                ],
                buttons: [
                    createButton
                ]
            }).center();

            Ext.Ajax.request({
                url: '/api/user/getAllApprover',
                method: 'GET',
                success: function (form, action) {
                    var allUsers = JSON.parse(form.responseText);
                    for(var i=0; i<allUsers.length; i++){
                        userStore.add({id: allUsers[i].id, name: allUsers[i].name});
                    }

                    approver.setValue(allUsers[0].id);
                },
                failure: function (form, action) {
                    alert(form.responseText);
                }
            });

            Ext.Ajax.request({
                url: '/api/user/getAllDeveloper',
                method: 'GET',
                success: function (form, action) {
                    var allDev = JSON.parse(form.responseText);
                    for(var i=0; i<allDev.length; i++){
                        devStore.add({id: allDev[i].id, name: allDev[i].name});
                    }

                    devs.setValue(allDev[0].id);
                },
                failure: function (form, action) {
                    alert(form.responseText);
                }
            });
        });
    </script>
</head>
<body>

</body>
</html>