<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>New User</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
      Ext.onReady(function () {
        var name = Ext.create('Ext.form.TextField', {
          fieldLabel: 'Name',
          width: 400,
          bodyPadding: 10
        });

        var description = Ext.create('Ext.form.TextField', {
          fieldLabel: 'Description',
          width: 400,
          bodyPadding: 10
        });

        var createButton = Ext.create('Ext.Button', {
          text: "Create",
          style: {
            border: 1
          },
          handler: function () {
            Ext.Ajax.request({
              url: "/api/status/create",
              method: "POST",
              jsonData: createJsonData(),
              success: function (form, action) {
                alert('Success!!')
              },
              failure: function (form, action) {
                alert(form.responseText);
              }
            })
          }
        });

        var createJsonData = function () {
          return {
            name: name.value, password: description.value
          }
        };

        Ext.create('Ext.panel.Panel', {
          renderTo: Ext.getBody(),
          width: 1000,
          height:500,
          layout: {
            type: 'vbox',
            padding: 5
          },
          items: [name, description],
          buttons: [createButton]
        }).center();
      });
    </script>
</head>
<body>

</body>
</html>