<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>New User</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
            var typeStore = Ext.create('Ext.data.Store', {
                fields: ['type'],
                data : [
                    {"value":0, "name":"Admin"},
                    {"value":1, "name":"Developer"},
                    {"value":2, "name":"User"},
                    {"value":3, "name":"Approver"}  // TODO: jovahagyo?
                ]
            });

            var userType = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Type',
                store: typeStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'value'
            });

            var name = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Name',
                width: 400,
                bodyPadding: 10
            });

            var psw = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Password',
                inputType: 'password',
                width: 400,
                bodyPadding: 10
            });

            var email = Ext.create('Ext.form.field.Text', {
                fieldLabel: 'Email',
                width: 400,
                bodyPadding: 10,
                vtype: 'email'
            });

            userType.setValue(0);

            var createButton = Ext.create('Ext.Button', {
                text: "Create",
                style: {
                    border: 1
                },
                handler: function () {
                    Ext.Ajax.request({
                        url: "/api/user/create",
                        method: "POST",
                        jsonData: getUser(),
                        success: function (form, action) {
                            // ....
                        },
                        failure: function (form, action) {
                            alert(form.responseText);
                        }
                    })
                }
            });

            var getUser = function(){
                return {
                    name: name.value,
                    password: psw.value,
                    email: email.value,
                    type: userType.getValue()
                }
            };

            Ext.create('Ext.panel.Panel', {
                renderTo: Ext.getBody(),
                width: 1000,
                height:500,
                layout: {
                    type: 'vbox',
                    padding: 5
                },
                items: [
                    name,
                    psw,
                    email,
                    userType
                ],
                buttons: [
                    createButton
                ]
            }).center();
        });
    </script>
</head>
<body>

</body>
</html>