<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>New Ticket</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <!-- <link rel="stylesheet" th:href="@{/css/styles.css}" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {

            var projectStore = Ext.create('Ext.data.Store', {
                fields: ['id', 'name']
            });

            var priorityStore = Ext.create('Ext.data.Store', {
                fields: ['priority'],
                data : [
                    {"value":0, "name":"S1"},
                    {"value":1, "name":"S2"},
                    {"value":2, "name":"S3"}
                ]
            });

            var typeStore = Ext.create('Ext.data.Store', {
                fields: ['type'],
                data : [
                    {"value":0, "name":"Feature"},
                    {"value":1, "name":"Bug"}
                ]
            });

            var projects = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Project',
                store: projectStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'id'
            });

            var ticketPrio = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Priority',
                valueField: 'value',
                store: priorityStore,
                displayField: 'name',
                queryMode: 'local'
            });

            var ticketType = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Type',
                valueField: 'value',
                store: typeStore,
                displayField: 'name',
                queryMode: 'local'
            });

            var name = Ext.create('Ext.form.TextField', {
                fieldLabel: 'Name',
                width: 400,
                bodyPadding: 10
            });

            var desc = Ext.create('Ext.form.TextArea', {
               fieldLabel: 'Description',
               width: 400,
               bodyPadding: 10
            });

            ticketPrio.setValue(0);
            ticketType.setValue(0);

            var createButton = Ext.create('Ext.Button', {
               text: "Create",
               style: {
                   border: 1
               },
                handler: function () {
                    Ext.Ajax.request({
                        url: "/api/ticket/create",
                        method: "POST",
                        jsonData: getTicket(),
                        success: function (form, action) {
                            window.location.assign("/ticket/all");
                        },
                        failure: function (form, action) {
                            alert(form.responseText);
                        }
                    })
                }
            });

            var getTicket = function(){
                return {
                    name: name.value,
                    description: desc.value,
                    priority: ticketPrio.getValue(),
                    projectId: projects.getValue(),
                    type: ticketType.getValue()
                }
            };

            var reporterStore = Ext.create('Ext.data.Store', {
                fields: ['id', 'name']
            });

            var ownerStore = Ext.create('Ext.data.Store', {
                fields: ['id', 'name']
            });

            var reporters = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Reporter',
                store: reporterStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'id'
            });

            var owners = Ext.create('Ext.form.ComboBox', {
                fieldLabel: 'Owner',
                store: ownerStore,
                queryMode: 'local',
                displayField: 'name',
                valueField: 'id'
            });

            Ext.Ajax.request({
                url: '/api/user/getAllUser',
                method: 'GET',
                success: function (form, action) {
                    allUser = JSON.parse(form.responseText);
                    for(var i=0; i<allUser.length; i++){
                        reporterStore.add({id: allUser[i].id, name: allUser[i].name});
                    }
                    reporters.setValue(allUser[0]);
                },
                failure: function (form, action) {
                    alert(form.responseText);
                }
            });

            Ext.Ajax.request({
                url: '/api/user/getAllUser',
                method: 'GET',
                success: function (form, action) {
                    allUser = JSON.parse(form.responseText);
                    for(var i=0; i<allUser.length; i++){
                        ownerStore.add({id: allUser[i].id, name: allUser[i].name});
                    }
                    owners.setValue(allUser[0]);
                },
                failure: function (form, action) {
                    alert(form.responseText);
                }
            });

            Ext.create('Ext.panel.Panel', {
                renderTo: Ext.getBody(),
                width: 1000,
                height:500,
                layout: {
                    type: 'vbox',
                    padding: 5
                },
                items: [
                    name,
                    desc,
                    projects,
                    reporters,
                    owners,
                    ticketPrio,
                    ticketType
                ],
                buttons: [
                    createButton
                ]
            }).center();

            Ext.Ajax.request({
                url: '/api/project/getAll',
                method: 'GET',
                success: function (form, action) {
                    allProjects = JSON.parse(form.responseText);
                    for(var i=0; i<allProjects.length; i++){
                        projectStore.add({id: allProjects[i].id, name: allProjects[i].name});
                    }

                    projects.setValue(allProjects[0].id);
                },
                failure: function (form, action) {
                    alert(form.responseText);
                }
            });
        });
    </script>
</head>
<body>

</body>
</html>
