<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
    <script type="text/javascript">
        Ext.onReady(function(){
            try{
                var projects = {};

                var projectStore = Ext.create('Ext.data.Store', {
                    fields : ['id', 'name', 'description', 'approver', 'assignee', 's1', 's2', 's3'],
                    proxy : {
                        type : 'memory',
                        reader : {
                            type : 'json',
                            rootProperty : 'items'
                        }
                    }
                });

                var searchField = Ext.create('Ext.form.TextField', {
                    fieldLabel: 'Search'
                });

                var searchButton = Ext.create('Ext.button.Button', {
                    text: 'Search',
                    handler: function(){
                        projectStore.removeAll();
                        updateProjectTable(searchField.value);
                    }
                });

                Ext.define('App.view.ProjectPanel', {
                    extend: 'Ext.grid.Panel',
                    height: 600,
                    width: 1000,
                    title: 'Projects',
                    store: projectStore,

                    columns: [  {
                        text: 'Id',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'id'
                    },{
                        text: 'Name',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'name'
                    },{
                        text: 'Description',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'description'
                    },{
                        text: 'Approver',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'approver'
                    },{
                        text: 'Developer',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 'assignee'
                    },{
                        text: 'S1',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 's1'
                    },{
                        text: 'S2',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 's2'
                    },{
                        text: 'S3',
                        width: 100,
                        sortable: false,
                        hideable: false,
                        dataIndex: 's3'
                    }],
                    viewConfig : {
                        listeners : {
                            itemdblclick : function(view, cell, cellIndex, record, row, rowIndex, e) {
                                localStorage.setItem("projectId", cell.data.id);
                                window.location.assign("/project");
                            }
                        }
                    }
                });

                var projectPanel = Ext.create('App.view.ProjectPanel', {
                    renderTo: Ext.getBody()
                });

                Ext.create('Ext.panel.Panel', {
                    renderTo: Ext.getBody(),
                    width: 1000,
                    height:1200,
                    layout: {
                        type: 'vbox',
                        padding: 5
                    },
                    items: [
                        searchField,
                        searchButton,
                        projectPanel
                    ]
                });

                var updateProjectTable = function(searchText){
                    Ext.Ajax.request({
                        url: "/api/project/searchProjects/" + searchText,
                        method: "GET",
                        success: function (form, action){
                            projects = JSON.parse(form.responseText);
                            fillProjectStore();
                        },
                        failure: function(form, action){
                            alert(form.responseText);
                        }
                    });
                };

                var fillProjectStore = function (){
                    for(var i=0; i<projects.length; i++){
                        var approver = "";
                        var assignee = "";

                        if(projects[i].defaultApproverId != null){
                            Ext.Ajax.request({
                                url: "/api/user/" + projects[i].defaultApproverId,
                                method: "GET",
                                async: false,
                                success: function (form, action){
                                    approver = JSON.parse(form.responseText).name;
                                },
                                failure: function(form, action){
                                    alert(form.responseText);
                                }
                            });
                        }

                        if(projects[i].defaultDeveloperId != null){
                            Ext.Ajax.request({
                                url: "/api/user/" + projects[i].defaultDeveloperId,
                                method: "GET",
                                async: false,
                                success: function (form, action){
                                    assignee = JSON.parse(form.responseText).name;
                                },
                                failure: function(form, action){
                                    alert(form.responseText);
                                }
                            });
                        }

                        projectStore.add({id: projects[i].id, name: projects[i].name, description: projects[i].description,
                            approver: approver, assignee: assignee, s1: getTime(projects[i].s1Time),
                            s2: getTime(projects[i].s2Time), s3: getTime(projects[i].s3Time) });
                    }
                };

                var getTime = function(timeArr){
                  if(timeArr == null || timeArr.length < 3){
                      return "-";
                  }
                  return timeArr[0] + "-" + timeArr[1] + "-" + timeArr[2];
                };

                updateProjectTable("");
            } catch(e){
                alert(e);
            }
        });
    </script>
</head>
<body>
<div id="maindiv" style="height: 500px"/>
</body>
</html>